@media all{
h1{
	font-size: 1em;
}
nav a{
	text-align: center;
	display: block;
		
}
.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;
}
}
@media screen and (min-width:768px){
body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;

}
header, footer{
  background-color:#0066FF;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;

}

section{
  margin:1%;
    padding:1%;
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}

h1{
	color:rgba(255,0,0,.7);;
}
.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	/* Safari and Chrome */	
	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}
ol{
	list-style:upper-roman; 
	margin:1em;
}
}
@media screen and (min-width:992px){
	body,header,footer{
		background-color: grey;
	}
	img{
		margin: 2%;
	}
	
}






